// $bg-devblockconf:  #8f7777 !default;
$parralax_height: 800px !default;
.parallax-section {
    /* Ajustez ces styles selon vos besoins */
    height: $parralax_height;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.devblockconf {
    background-color: #8f7777;
    color: #ffffff;
    > * {
        color: #ffffff !important;
    }
}

