// $bg-devblockconf:  #000000 !default;
$parralax_height: 400px !default;
.parallax-section {
    /* Ajustez ces styles selon vos besoins */
    height: $parralax_height;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.devblockconf {
    background-color: #000000;
    color: #ffffff;
    // > * {
    //     color: #ffffff;
    // }
}

