.parallax-section {
  /* Ajustez ces styles selon vos besoins */
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.devblockconf {
  background-color: #5d0d0d;
  color: #ffffff;
}
.devblockconf > * {
  color: #ffffff;
}
